{% extends "base.html" %}
{% block title %}Planet Rebase LLC - Tower Status{% endblock %}
{% block content %}
<div class="container">
    {% if user %}
    <header>
        <h1>Tower Status Checker</h1>
    </header>
    <main>
        <form action="/" method="post" target="_blank">
            <label for="site">Site #:</label>
            <input type="text" name=site>
            <button type="submit">Search</button>
        </form>
    </main>
    {% else %}
    <header>
        <h1>Tower Status Checker</h1>
        <h2>Unkown User. Please <a href="{{ url_for('login') }}">login</a></h2>
    </header>
    {% endif %}
</div>
{% endblock %}