<!-- <nav>
  <ul>
    <li><a href="{{ url_for('index') }}">Home</a></li>
  </ul>
</nav> -->

<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ url_for('index') }}"> PR-C </a>

    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item"> Documentation </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {% if user %}
          <div class="dropdown is-right">
            <div class="dropdown-trigger">
              <button
                class="button"
                aria-haspopup="true"
                aria-controls="dropdown-menu2"
              >
                <span>{{user}}</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu2" role="menu">
              <div class="dropdown-content">
                <div class="dropdown-item">
                  <p>
                    You can insert <strong>any type of content</strong> within
                    the dropdown menu.
                  </p>
                </div>
                <hr class="dropdown-divider" />
                <div class="dropdown-item">
                  <p>
                    You simply need to use a <code>&lt;div&gt;</code> instead.
                  </p>
                </div>
                <hr class="dropdown-divider" />
                <a href="{{ url_for('logout') }}" class="dropdown-item">
                  Logout
                </a>
              </div>
            </div>
          </div>
          {% else %}
          <ul>
            <li><a href="{{ url_for('login') }}">Login</a></li>
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>
