{% extends "base.html" %}
{% block title %}Planet Rebase LLC - Tower Status - {{ site }}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
{% endblock %}

{% block content %}
    <div class="container">
        <li>Hello! {{ user }}</li>
        <div id="mapid"></div>
        <div>
            <h1>{{ site["site_id"] }}</h1>
            <h2>{{ site["site_name"] }}</h2>
            <h3>Address:</h3>
            <ul>
                <li>{{ site["location"]["address"] }}</li>
                <li>{{ site["location"]["city"] }}</li>
                <li>{{ site["location"]["state"] }}</li>
                <li>{{ site["location"]["lat"] }}</li>
                <li>{{ site["location"]["long"] }}</li>
            </ul>
        </div>
        
    </div>
    {% block scripts %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script src="{{ url_for('static', filename='map.js') }}"></script>

    <script>
        var mymap = L.map('mapid').setView([{{ site["location"]["lat"] }}, {{ site["location"]["long"] }}], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(mymap);

    </script>
    {% endblock %}

{% endblock %}