{% extends "base.html" %} {% block title %}Planet Rebase LLC - Tower Status - {{
site }}{% endblock %} {% block styles %}
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""
/>
{% endblock %} {% block content %}
<div class="container">
  <p>Weather Time: {{ weather["properties"]["timeseries"][0]["time"] }}</p>
  <p>
    Weather Temp: {{
    weather["properties"]["timeseries"][0]["data"]["instant"]["details"]["air_temperature"]
    }}C
  </p>
  <div id="mapid"></div>
  <div>
    <h1>{{ site["site_id"] }}</h1>
    <h2>{{ site["site_name"] }}</h2>
    <h3>Address:</h3>
    <ul>
      <li>{{ site["location"]["address"] }}</li>
      <li>{{ site["location"]["city"] }}</li>
      <li>{{ site["location"]["state"] }}</li>
      <li>{{ site["location"]["lat"] }}</li>
      <li>{{ site["location"]["long"] }}</li>
    </ul>
  </div>
</div>
{% block scripts %}
<script
  src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""
></script>
<!-- <script src="{{ url_for('static', filename='js/map.js') }}"></script> -->

<script>
    var mymap = L.map('mapid').setView([{{ site["location"]["lat"] }}, {{ site["location"]["long"] }}], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);

      var circle = L.circle([{{ site["location"]["lat"] }}, {{ site["location"]["long"] }}], {
          color: 'red',
          fillColor: '#f03',
          fillOpacity: 0.5,
          radius: 100
      }).addTo(mymap).on('click', onClick);

      function onClick(e) {
        const URL = "/site_report?site={{ site["site_id"] }}"
        window.open(URL, '_blank');
  }

  var popup = L.popup();

  // function onMouseover(e) {
  //   popup
  //   .setLatLng(e.latlng)
  //       .setContent("Site id is: {{ site["site_id"] }}")
  //       .openOn(mymap);
  // }

  // circle.on('mouseover', onMouseover);

  circle.on('mouseover', function(){circle.bindPopup('Site id: {{ site["site_id"] }}').openPopup();});

  circle.on('mouseout', function(){circle.closePopup();});
</script>
{% endblock %} {% endblock %}
