{% extends "base.html" %} {% block title %}Planet Rebase LLC - Tower Status - {{
site }}{% endblock %} {% block content %}
<div class="container">
  <div class="columns is-mobile">
    <div class="column is-one-quarter">
      <h1 class="title is-1">{{ site["site_id"] }}</h1>
      <h2 class="subtitle is-1">{{ site["site_name"] }}</h2>
    </div>
  </div>
  <div class="columns is-mobile">
    <div id="mapid"></div>
  </div>
  <div class="columns is-mobile">
    <div class="column">
      <h3>Address:</h3>
      <ul>
        <li>{{ site["location"]["address"] }}</li>
        <li>{{ site["location"]["city"] }}</li>
        <li>{{ site["location"]["state"] }}</li>
        <li>{{ site["location"]["lat"] }}</li>
        <li>{{ site["location"]["long"] }}</li>
      </ul>
    </div>
    <div class="column">
      <p>Weather Time: {{ weather["properties"]["timeseries"][0]["time"] }}</p>
      <p>
        Weather Temp: {{
        weather["properties"]["timeseries"][0]["data"]["instant"]["details"]["air_temperature"]
        }}C
      </p>
    </div>
  </div>
</div>
{% block scripts %}
<script>
    var mymap = L.map('mapid').setView([{{ site["location"]["lat"] }}, {{ site["location"]["long"] }}], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);

      var circle = L.circle([{{ site["location"]["lat"] }}, {{ site["location"]["long"] }}], {
          color: 'red',
          fillColor: '#f03',
          fillOpacity: 0.5,
          radius: 100
      }).addTo(mymap).on('click', onClick);

      function onClick(e) {
        const URL = "/site_report?site={{ site["site_id"] }}"
        window.open(URL, '_blank');
  }

  var popup = L.popup();

  // function onMouseover(e) {
  //   popup
  //   .setLatLng(e.latlng)
  //       .setContent("Site id is: {{ site["site_id"] }}")
  //       .openOn(mymap);
  // }

  // circle.on('mouseover', onMouseover);

  circle.on('mouseover', function(){circle.bindPopup('Site id: {{ site["site_id"] }}').openPopup();});

  circle.on('mouseout', function(){circle.closePopup();});
</script>
{% endblock %} {% endblock %}
