{% extends "base.html" %} {% block title %}Planet Rebase LLC - Tower Status{%
    endblock %} {% block content %}
    <section
      class="hero is-info is-fullheight-with-navbar is-dark is-medium is-bold"
    >
      <div class="hero-body has-text-centered">
        <div class="container">
          {% if user %}
          <header>
            <h1 class="title mb-6">Tower Status Checker</h1>
          </header>
          <main>
            <form action="/" method="post" target="_blank">
              <div class="columns is-vcentered">
                <div class="column is-four-fifths">
                  <div class="field">
                    <!-- <label class="label">Site id</label> -->
                    <div class="control">
                      <input
                        name="site"
                        class="input"
                        type="text"
                        placeholder="site id"
                      />
                    </div>
                  </div>
                </div>
                <div class="column">
                  <button class="button is-light" type="submit">Search</button>
                </div>
              </div>
            </form>
          </main>
          {% else %}
          <header>
            <h1>Tower Status Checker</h1>
            <h2>Unkown User. Please <a href="{{ url_for('auth.login') }}">login</a></h2>
          </header>
          {% endif %}
        </div>
      </div>
    </section>
    {% endblock %}
    